<div class="container">
  <a href="" class="btn btn-primary btn-sm my-3">
    <i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Voltar para home
  </a>
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-6 col-sm-offset-6">
      <div class="form-login">
        <h2>Editar Proposta de Texto</h2>

        <div>Caro professor, edite a proposta de texto aqui</div>
                
         <%= render 'form' %>
         
      </div>
    </div>
  </div>
</div>