.alert {
  position:relative;
  top: 10px;
  margin: 0 auto !important;
  z-index: 1000;
  width: 20%;
  text-align: center;
}

.alert-danger {
  color: #84080b;
  background-color: #ffcfd0;
  border-color: #febcbd;
  width: 330px !important;
}
