.coments {
  margin: 20px auto;
}

.coment {
  margin-bottom: 10px;
  border-bottom: 1px solid darkgray;
  padding: 20px;
  box-shadow: 2px 2px 2px 2px rgba(169, 169, 169, 0.267);
  background-color: rgba(255, 255, 255, 0.61);
  border-radius: 8px;
}
.coment_content {

} 
.comment_header {
  display: block;
  background-color: rgba(197, 22, 118, 0.5);
  margin: -20px -20px 20px -20px;
  border-radius: 8px 8px 0px 0px;
  padding: 10px;
  color: rgba(255, 255, 255, 0.89);
}
.comment_text {

}
.coment_author {
  border-top: 0.5px solid rgba(211, 211, 211, 0.281);
  margin-top: 10px;
  padding-top: 10px;
  color: rgb(146, 146, 146);
  font-style: italic;
  font-size: small;
}
.author_header {
  margin-right: 5px;
}
.author_name {
  color: rgba(197, 22, 118, 0.719);
}