<p>Olá, <%= @resource.name.upcase %>, </p>

<p>Parece que você esqueceu a sua senha! Não se preocupe, é só clicar no link abaixo:</p>

<p><%= link_to 'Alterar senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Caso não tenha feito essa solicitação, favor ignorar este e-mail.</p>
<p>Sua senha não será alterada enquanto você não acessar o link acima e criar uma nova senha.</p>
