<p>Olá, <%= @resource.email %>!</p>

<p>Alguém solicitou um link para alterar sua senha. Isso pode ser feito pelo link abaixo:</p>

<p><%= link_to 'Alterar senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Caso não tenha feito essa solicitação, favor ignorar este e-mail.</p>
<p>Sua senha não será alterada enquanto você não acessar o link acima e criar uma nova senha.</p>
