 
        <%= simple_form_for [@text.theme, @text] do |f| %>
        <%= f.error_notification %>
          <div class="form-inputs">
            
            <%= f.input :grade, label: "Inserir nota" %>
            <br>
          </div>
          <br>
          <div class="form-actions">
            <%= f.button :submit, "Salvar nota", class: "btn btn-primary btn-md"  %>
          </div>
        <% end %>   
       