<h1>Todos os textos</h1>

<div class="container mt-4">
<h1></h1>

<%= link_to "Voltar para home", root_path, class: "a btn btn-light bt-sm my-2" %>
<br>
<br>
  <% @texts.each do |text| %>

  <div>
    <%=text.photo%>
  </div>

<%= render  "texts_path" %>



<p>Find me in app/views/texts/index.html.erb</p>
